{% extends '_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    {{ request.tenant|upper }} | Tú Carrito
{% endblock %}

{% block content %}
    <section class="py-1">
        <div class="container">
            <div class="card">
                <div class="card-body p-4">
                    <h5 class="mb-3">
                        <a href="{% url 'product_list' %}" class="text-body text-decoration-none h2">
                            <i class='bx bx-arrow-back me-2'></i>
                            Seguir comprando
                        </a>
                    </h5>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                            <p class="mb-1 h3 fw-semibold">Carrito de Compra</p>
                            <p class="mb-0 h5 fw-normal">Tienes {{ cart|length }} productos en tu carrito</p>
                        </div>
                    </div>
                    {% if cart|length > 0 %}
                        <div class="table-responsive">
                            <table class="table cart text-nowrap">
                                <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>SubTotal</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in cart %}
                                    {% with item.product as product %}
                                        <tr>
                                            <td>
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img src="{{ product.image.url }}" class="img-fluid rounded-3"
                                                         alt="Shopping item" style="width: 65px;">
                                                </a>
                                            </td>
                                            <td>{{ product.name }}</td>
                                            <td>
                                                <form action="{% url 'cart:cart_add' product.id %}" method="post"
                                                      class="d-flex justify-content-center"
                                                >
                                                    {% csrf_token %}
                                                    <div class="input-group">
                                                        <input class="form-control form-control-sm text-center"
                                                               type="number" required name="quantity" id="cantidad"
                                                               value="{{ item.quantity }}" aria-label="cantidad" min="1"
                                                               max="20">
                                                        {{ item.updated_quantity_form.override }}
                                                        <button class="btn btn-sm btn-warning" type="submit">
                                                            <i class='bx bx-edit'></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </td>
                                            <td>${{ item.price|intcomma }}</td>
                                            <td>${{ item.total_price|intcomma }}</td>
                                            <td>
                                                <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn">
                                                        <i class='bx bxs-trash h2 mb-0 ms-2'></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endwith %}
                                {% endfor %}
                                <tr class="table-primary">
                                    <th>Total</th>
                                    <td colspan="4"></td>
                                    <td>${{ cart.get_total_price|intcomma }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <section>
                            <a class="btn btn-lg btn-primary" href="{% url 'orders:order_create' %}" >Ordenar</a>
                        </section>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}