{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ request.tenant|upper }} | Iniciar Sesión
{% endblock %}

{% block content %}
    <section class="h-100 d-flex flex-column justify-content-center align-items-center">
        <h2>Iniciar Sesión</h2>
        <form id="login-form" method="post">
            {% csrf_token %}
            {% crispy form %}
            <button form="login-form" class="btn btn-primary" type="submit">Iniciar Sesión</button>
        </form>
    </section>
{% endblock %}