{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ request.tenant|upper }} | Cerrar Sesión
{% endblock %}

{% block content %}
    <section class="h-100 d-flex flex-column justify-content-center align-items-center">
        <h1>Cerrar Sesión</h1>
        <p>¿Está seguro de que desea cerrar sesión?</p>
        <form id="logout-form" method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button form="logout-form" class="btn btn-danger" type="submit">Cerrar Sesión</button>
        </form>
    </section>
{% endblock %}