<div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-theme="ligth">
    <div class="carousel-inner">
        {% for banner in banners %}
            {% if banner.id == 1 %}
                <div class="carousel-item w-100 active">
                    {% load cloudinary %}
                    {% cloudinary banner.image width=1100 height=400 crop='pad' background='gen_fill:ignore-foreground_true' class='d-block mx-auto w-100 imagen' %}
{#                    <img src="{{ banner.image.url }}" class="d-block mx-auto w-100 imagen" alt="{{ banner.tittle }}">#}
                </div>
            {% else %}
                <div class="carousel-item w-100">
                    {% load cloudinary %}
                    {% cloudinary banner.image width=1100 height=400 crop='pad' background='gen_fill:ignore-foreground_true' class='d-block mx-auto w-100 imagen' %}
{#                    <img src="{{ banner.image.url }}" class="d-block mx-auto w-100 imagen" alt="{{ banner.tittle }}">#}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>
