div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: #17a2b8;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #e0d8d8;
}

@media (min-width: 1160px) {
    .justify-content-lg-center-custom {
        justify-content: center !important;
    }
}